/*-----------------------------Banner-ads -------------------*/
 /* CSS Document */
#thewindowbackground {
	background-color:  rgb(0, 0, 0);
	left:  0px;
	top:  0px;
	opacity:  0.8;
	z-index:  990;
	width: auto;
	position: absolute;
	display: none;
	filter:  alpha(opacity=80);
}
#ad_zone_TV {
	z-index: 1000
}
#bannerPopup {
	margin: auto;
	/*width: 660px;
	height: 462px;*/
	z-index:  1000;
	position: absolute;
	display: none;
	background-color:  rgb(0, 0, 0);
	
}
#btClose {
	position: absolute;
	right: 0px;
	top: 0px;
	z-index:  101;
	cursor: pointer;
}
a#btClose:link, a#btClose:visited{
	background:  url(https://1.bp.blogspot.com/-DsIEinS_9O4/X4ayPzPzy4I/AAAAAAAAA0A/_7KTJXgg5cQfwK600TJwm2wpaWcUXzvFQCLcBGAsYHQ/s71/popup-close.png) no-repeat;
	width: 71px;
	height: 32px;
	display: block;
	position: absolute;
	top: 0;
	color: #fff;
	text-align: center;
	font-weight: bold;
	text-indent: -9999px;
}
a#btClose:hover{
	background-position: 0 -32px;
	
}
a#btCloseBottom:link, a#btCloseBottom:visited {
	background: #000;
	width: 23px;
	height: 23px;
	display: block;
	position: absolute;
	top: -3px;
	right: -2px;
	color: #fff;
	text-decoration: none;
	padding: 3px;
	text-align: center;
	font-weight: bold;
}
#bannerPopupBottom {
	width: 300px !important;
	height: 126px !important;
	z-index:  1000 !important;
	bottom: 0;
	right: 0;
	position: absolute;
	display: none;	
	overflow: hidden;
	padding-top: 26px;
	border: 0 !important;
}
#bannerPopupBottom img{
	border:  1px solid #999;
}
#btCloseBottom {
	position: absolute;
	right: 0px;
	top: 0px;
	z-index:  991;
	cursor: pointer;
}
#boxFlashAds {
	height: 1px;
	width: 1px;
	overflow:  hidden;
	left: -9999em;
	top: -9999em;
}
.fixedBanner {
	position:  fixed !important;
}

form.CheckClose { 
	display: block;
	float: left;
	color: #9e9e9e;
	font-size: 11px;
	white-space: nowrap;
}
#bannerPopup .OptionClose {
	background:  url(https://1.bp.blogspot.com/-MIcmpQhZqnI/X4ayYjPj6pI/AAAAAAAAA0E/xYSGXfVEbIoY24t3-DdW1o0USgYaIVgSwCLcBGAsYHQ/s345/bg-check.png) no-repeat;
	display: block;
	height: 30px;
	width: 345px;
	float: right;
	padding-top: 3px;
}
a.PopupBtnClose:link, a.PopupBtnClose:visited{
	background:  url(https://1.bp.blogspot.com/-uT7BGCaOFN0/X4ayg8n2GPI/AAAAAAAAA0M/lXgo2f9DW_MUam5YTkpuRq_mrgiUjvOzACLcBGAsYHQ/s51/popup-new-cookie-close.gif) no-repeat;
	width: 51px;
	height: 16px;
	display: block;
	color: #fff;
	text-align: center;
	font-weight: bold;
	text-indent: -9999px;
	float: right;
	margin: 4px 5px 0 0; 
}
a.PopupBtnClose:hover{
	background-position: 0 -16px;
}
.PopupBG {
	background: #000;	
}
#bannerPopup img {
	padding: 32px 0 0 5px;
	
}
#bannerPopup embed  {
	margin: 32px 0 0 5px;
	
}
ul.Disc li {   
    list-style-type: disc;
    margin-bottom: 0;
    padding: 0 0 0 5px;
    text-align: justify;
}




