.Rating {    
    width: 150px;
    height: 90px;
    display: block;
    overflow: hidden;
    text-indent: -9999px;
    position: absolute;
    top: 60px;
    left: 0;
    z-index: 1000;
}
.MRating {    
    width: 90px;
    height: 40px;
    display: none;
    overflow: hidden;
    text-indent: -9999px;
    position: absolute;
    top: 0px;
    left: 60px;
    z-index: 1000;
}
@media screen and (max-width: 768px){

    .MRating {
      /*display: block;*/
    }
}

@media screen and (max-width: 1025px) {
    .Rating_margintop {
        top: 170px;
    }
}
.Rating_nph_0 {
    background: url(https://1.bp.blogspot.com/-jcFEGc8fwyc/X4as3lNwtlI/AAAAAAAAAv4/miJGTV-xVrko3EW0cLV24aV4NEQO79iuwCLcBGAsYHQ/s150/nph-0.jpg) no-repeat ;
}
.Rating_nph_12 {
    background: url(https://1.bp.blogspot.com/-dFzdCX_Aqbw/X4atGMRQBvI/AAAAAAAAAv8/yl48uak0IkQxf59LKB2Hr1iMRwbLDne-QCLcBGAsYHQ/s150/nph-12.jpg) no-repeat ;
}
.Rating_nph_18 {
    background: url(https://1.bp.blogspot.com/-EdvxqEHYaew/X4atOz86KuI/AAAAAAAAAwA/uvtQsoGVBKUlZS7Q4lDuHDmn14vjb7z0ACLcBGAsYHQ/s150/nph-18.jpg) no-repeat ;
}

.Rating_vng_0 {
    background: url(https://1.bp.blogspot.com/-HIxsaDDTI3Q/X4atZNvMXQI/AAAAAAAAAwI/IY6DcVJvDA4Abne3Pimq-mv6hofEecAbACLcBGAsYHQ/s150/vng-0.jpg) no-repeat ;
}
.Rating_vng_12 {
    background: url(https://1.bp.blogspot.com/-QL6BTi6tYKk/X4atic8HfpI/AAAAAAAAAwM/phFS5u2BAVkrf6P_naEkYsX26ZvZ3mq7wCLcBGAsYHQ/s150/vng-12.jpg) no-repeat ;
}
.Rating_vng_18 {
    background: url(https://1.bp.blogspot.com/-9aNKZpOPzDI/X4atp3aNhSI/AAAAAAAAAwU/3_9Qc-bHgh0RiUFvGmW-DT2-GuzuxZswQCLcBGAsYHQ/s150/vng-18.jpg) no-repeat ;
}

.Rating_long-dinh_0 {
    background: url(https://1.bp.blogspot.com/-nlt7WI7fccQ/X4atyKhrG6I/AAAAAAAAAwY/RLxoYLgGdtA6XYbvObqs5-zsaWTCVF12gCLcBGAsYHQ/s150/long-dinh-0.jpg) no-repeat ;
}
.Rating_long-dinh_12 {
    background: url(https://1.bp.blogspot.com/-RzTehLROUdU/X4at7pLW6dI/AAAAAAAAAwg/nh2KZZ0Hj5AejAcVH-acY0B6Em_Trs5owCLcBGAsYHQ/s150/long-dinh-12.jpg) no-repeat ;
}
.Rating_long-dinh_18 {
    background: url(https://1.bp.blogspot.com/-vmtgqOkaQnA/X4auDjYE2xI/AAAAAAAAAwk/wvfctZAORMwM8FNArA_Omhx0hXbNXE8RQCLcBGAsYHQ/s150/long-dinh-18.jpg) no-repeat ;
}


.Rating_minh-phuong-thinh_0 {
    background: url(https://1.bp.blogspot.com/-aqSkpUTmO_4/X4auMnk9FAI/AAAAAAAAAws/mIucC2nl1mws7WCwxq2-qZGviWiKMIq9QCLcBGAsYHQ/s150/minh-phuong-thinh-0.jpg) no-repeat ;
}
.Rating_minh-phuong-thinh_12 {
    background: url(https://1.bp.blogspot.com/-OiDo1_ybcxY/X4auVnWmC1I/AAAAAAAAAww/AsakTj2ElRc-ccRMPDTwT9iRfId8xGX-gCLcBGAsYHQ/s150/minh-phuong-thinh-12.jpg) no-repeat ;
}
.Rating_minh-phuong-thinh_18 {
    background: url(https://1.bp.blogspot.com/-oTpz5gKLvsI/X4audU2tx-I/AAAAAAAAAw0/W-P_ColMa-Ayk7jc7VIv3W9MbI9EOYw1gCLcBGAsYHQ/s150/minh-phuong-thinh-18.jpg) no-repeat ;
}


.Rating_nguyen-bao_0 {
    background: url(https://1.bp.blogspot.com/-DSTSFB4NwjU/X4aulChRe-I/AAAAAAAAAw4/W9sR2bRVT8k5NV1p8UyjXH4gyrn_FPcKwCLcBGAsYHQ/s150/nguyen-bao-0.jpg) no-repeat ;
}
.Rating_nguyen-bao_12 {
    background: url(https://1.bp.blogspot.com/-n_Hs1DLc7oM/X4ausMH0WxI/AAAAAAAAAxA/ARq7dswx_NkS6S3Ye2QfJxWb3TAArCxTwCLcBGAsYHQ/s150/nguyen-bao-12.jpg) no-repeat ;
}
.Rating_nguyen-bao_18 {
    background: url(https://1.bp.blogspot.com/-o_S7S7xhgh8/X4au0a3P8SI/AAAAAAAAAxI/cOHbl1kNfo0TN-SJ0fumdpk45x8dGo9tACLcBGAsYHQ/s150/nguyen-bao-18.jpg) no-repeat ;
}


.Rating_bp_0 {
    background: url(https://1.bp.blogspot.com/-4YmRgqi2OIs/X4au8Uf_VUI/AAAAAAAAAxU/E3Eb77fF8BkngG2igXi5hqXiw7EAQmq9QCLcBGAsYHQ/s150/bp-0.jpg) no-repeat ;
}
.Rating_bp_12 {
    background: url(https://1.bp.blogspot.com/-lEiiCax3AOg/X4avE-lxtlI/AAAAAAAAAxY/heuRDDoQCzIldpCmwbmtY5lTIpvd7PsLgCLcBGAsYHQ/s150/bp-12.jpg) no-repeat ;
}
.Rating_bp_18 {
    background: url(https://1.bp.blogspot.com/-8s5gIKJA_5k/X4avMolriqI/AAAAAAAAAxk/EwAKSvoELZsf9SfHezW_fVcQrgMcpQLWACLcBGAsYHQ/s150/bp-18.jpg) no-repeat ;
}

.M_Rating_vng_0 {
    background: url(https://1.bp.blogspot.com/-7wukHmcKKL4/X4avUSvuskI/AAAAAAAAAxs/B_5V3U0CCgwXAXaq0OtjfGNZ8VLGtHIfgCLcBGAsYHQ/s90/m-vng-0.jpg) no-repeat ;
}
.M_Rating_vng_12 {
    background: url(https://1.bp.blogspot.com/-rdSZ_LnfQGk/X4avcMkjkJI/AAAAAAAAAxw/y9QrHX30eYwbPk3nRS-xUugXHGYJ08GDACLcBGAsYHQ/s90/m-vng-12.jpg) no-repeat ;
}
.M_Rating_vng_18 {
    background: url(https://1.bp.blogspot.com/-bztkDEVbKQk/X4avkbqajdI/AAAAAAAAAx8/moQ_oNX_Cx4VsQVKScDZSJRlU4mtm3fTACLcBGAsYHQ/s90/m-vng-18.jpg) no-repeat ;
}

.M_Rating_long-dinh_0 {
    background: url(https://1.bp.blogspot.com/-5ZYVLIg_n-E/X4avsdcczhI/AAAAAAAAAyE/cXPx0y-Y69M2hFE2AjinycDW2zUpUsS7ACLcBGAsYHQ/s90/m-long-dinh-0.jpg) no-repeat ;
}
.M_Rating_long-dinh_12 {
    background: url(https://1.bp.blogspot.com/-640e0iUgoAI/X4av04yB_6I/AAAAAAAAAyM/b6yiNTXo4PwRwKbd2jduQe7HC8XK698jgCLcBGAsYHQ/s90/m-long-dinh-12.jpg) no-repeat ;
}
.M_Rating_long-dinh_18 {
    background: url(https://1.bp.blogspot.com/-2-iBYWaS4Dw/X4av_HhUB6I/AAAAAAAAAyU/7d1IrKrIhL0qCT4B08ZXxnTITWH2PzofACLcBGAsYHQ/s90/m-long-dinh-18.jpg) no-repeat ;
}

.M_Rating_minh-phuong-thinh_0 {
    background: url(https://1.bp.blogspot.com/-oKBslxcC8us/X4awIKKscvI/AAAAAAAAAyc/OABiEkGKZ_QbI4xtHAACf6F-Yfetv5wfwCLcBGAsYHQ/s90/m-minh-phuong-thinh-0.jpg) no-repeat ;
}
.M_Rating_minh-phuong-thinh_12 {
    background: url(https://1.bp.blogspot.com/-rUyORXmZOKw/X4awQ8sPF2I/AAAAAAAAAyk/SF3DkuePq6sZ-8muA1qU59byP7KfItm_QCLcBGAsYHQ/s90/m-minh-phuong-thinh-12.jpg) no-repeat ;
}
.M_Rating_minh-phuong-thinh_18 {
    background: url(https://1.bp.blogspot.com/--Pn7oNhPwdQ/X4awbHyNIXI/AAAAAAAAAys/f3zk-H5LH1UB0B7taiCUvVGuj4CHZnWVACLcBGAsYHQ/s90/m-minh-phuong-thinh-18.jpg) no-repeat ;
}

.M_Rating_nguyen-bao_0 {
    background: url(https://1.bp.blogspot.com/-Dx1k6Y7ZX-s/X4awihu40WI/AAAAAAAAAy0/G5fLvQ8jX-gGaPuCAUNPkJe0PRo5pVfAgCLcBGAsYHQ/s90/m-nguyen-bao-0.jpg) no-repeat ;
}
.M_Rating_nguyen-bao_12 {
    background: url(https://1.bp.blogspot.com/-gbOkO5L9xK0/X4awsBQavhI/AAAAAAAAAy8/PqNMVczvBK0RS1HZhPD3mx1yJZw6b68EwCLcBGAsYHQ/s90/m-nguyen-bao-12.jpg) no-repeat ;
}
.M_Rating_nguyen-bao_18 {
    background: url(https://1.bp.blogspot.com/-O0EBtQysSeY/X4aw0pa-ETI/AAAAAAAAAzE/eTvG_u-jhe0ehgE4cu0yZMHB8XMcUqsgACLcBGAsYHQ/s90/m-nguyen-bao-18.jpg) no-repeat ;
}

.M_Rating_bp_0 {
    background: url(https://1.bp.blogspot.com/-sgPmlAXEMQM/X4aw74BRG6I/AAAAAAAAAzM/Dqckj4uC5ZI3EhYTAPZ0KYGjrM3G2WgbgCLcBGAsYHQ/s90/m-bp-0.jpg) no-repeat ;
}
.M_Rating_bp_12 {
    background: url(https://1.bp.blogspot.com/-05ZOATvw19w/X4axDc2v1NI/AAAAAAAAAzQ/qlYeQYQAE7kJzlmTSUiLUMzZCG5HSRAMQCLcBGAsYHQ/s90/m-bp-12.jpg) no-repeat ;
}
.M_Rating_bp_18 {
    background: url(https://1.bp.blogspot.com/-tH833HBR9dw/X4axJyjVfyI/AAAAAAAAAzU/OuJCwD8_4agvRYGk_KRuAXm0kBrj0dIqgCLcBGAsYHQ/s90/m-bp-18.jpg) no-repeat ;
}

.M_Rating_nph_0 {
    background: url(https://1.bp.blogspot.com/-u8NMbgtnsEk/X4axREd6W4I/AAAAAAAAAzc/GyI3DhphMq0dnm0j0qg3JyFT0TE7b1sbACLcBGAsYHQ/s90/m-nph-0.jpg) no-repeat ;
}
.M_Rating_nph_12 {
    background: url(https://1.bp.blogspot.com/-3XvHVNcmxWs/X4axZrIj49I/AAAAAAAAAzo/7F5xoAJkDwATjO8CLqfpCc09o9c0yGKNACLcBGAsYHQ/s90/m-nph-12.jpg) no-repeat ;
}
.M_Rating_nph_18 {
    background: url(https://1.bp.blogspot.com/-3_S1eH_zfK4/X4axg1-DcUI/AAAAAAAAAzw/-mTcs-F-bdAL2PlVMGxCpPYtHusq0Ug_ACLcBGAsYHQ/s90/m-nph-18.jpg) no-repeat ;
}





